---
import AboutHeroImage from '../assets/blog-placeholder-about.jpg';
import Layout from '../layouts/BlogPost.astro';
import { SITE_DESCRIPTION } from '../consts';
---

<Layout
	title="About NWalker"
	description="Currently working as a backend developer, while leveraging AI to build independent products."
	pubDate={new Date('March 15 2024')}
	heroImage={AboutHeroImage}
>
	<p>{SITE_DESCRIPTION}</p>
</Layout>
